*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
body{
	background-color: #121212;
}
.container{
	width: 1100px;
	margin: 0 auto;
	display: table;
}
.input-timer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 5rem;
	height: auto;
	border-radius: 7px;
	background-color: aqua;
	padding: 2rem 1rem;
}
.linear{
	display: none;
	margin: 0 auto;
}
.background-linear{
	background-color: transparent;
	border: 2px solid darkseagreen;
	display: flex;
	flex-direction: row-reverse;
	width: 50rem;
	border-radius: 1rem;
	margin: 1rem;
	height: 2rem;
}
.linear-color-1{
	padding: .70rem;
	width: 1%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-2{
	padding: .70rem;
	width: 2%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-3{
	padding: .70rem;
	width: 3%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-4{
	padding: .70rem;
	width: 4%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-5{
	padding: .70rem;
	width: 5%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-6{
	padding: .70rem;
	width: 6%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-7{
	padding: .70rem;
	width: 7%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-8{
	padding: .70rem;
	width: 8%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-9{
	padding: .70rem;
	width: 9%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-10{
	padding: .70rem;
	width: 10%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-11{
	padding: .70rem;
	width: 11%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-12{
	padding: .70rem;
	width: 12%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-13{
	padding: .70rem;
	width: 13%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-14{
	padding: .70rem;
	width: 14%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-15{
	padding: .70rem;
	width: 15%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-16{
	padding: .70rem;
	width: 16%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-17{
	padding: .70rem;
	width: 17%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-18{
	padding: .70rem;
	width: 18%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-19{
	padding: .70rem;
	width: 19%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-20{
	padding: .70rem;
	width: 20%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-21{
	padding: .70rem;
	width: 21%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-22{
	padding: .70rem;
	width: 22%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-23{
	padding: .70rem;
	width: 23%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-24{
	padding: .70rem;
	width: 24%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-25{
	padding: .70rem;
	width: 25%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-26{
	padding: .70rem;
	width: 66%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-27{
	padding: .70rem;
	width: 66%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-28{
	padding: .70rem;
	width: 28%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-29{
	padding: .70rem;
	width: 29%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-30{
	padding: .70rem;
	width: 30%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-31{
	padding: .70rem;
	width: 31%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-32{
	padding: .70rem;
	width: 66%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-33{
	padding: .70rem;
	width: 33%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-34{
	padding: .70rem;
	width: 34%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-35{
	padding: .70rem;
	width: 35%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-36{
	padding: .70rem;
	width: 36%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-37{
	padding: .70rem;
	width: 37%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-38{
	padding: .70rem;
	width: 38%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-39{
	padding: .70rem;
	width: 39%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-40{
	padding: .70rem;
	width: 40%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-41{
	padding: .70rem;
	width: 41%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-42{
	padding: .70rem;
	width: 42%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-43{
	padding: .70rem;
	width: 43%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-44{
	padding: .70rem;
	width: 44%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-45{
	padding: .70rem;
	width: 45%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-46{
	padding: .70rem;
	width: 46%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-47{
	padding: .70rem;
	width: 47%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-48{
	padding: .70rem;
	width: 48%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-49{
	padding: .70rem;
	width: 49%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-50{
	padding: .70rem;
	width: 50%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-51{
	padding: .70rem;
	width: 51%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-52{
	padding: .70rem;
	width: 52%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-53{
	padding: .70rem;
	width: 5%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-54{
	padding: .70rem;
	width: 54%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-55{
	padding: .70rem;
	width: 55%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-56{
	padding: .70rem;
	width: 56%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-57{
	padding: .70rem;
	width: 57%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-58{
	padding: .70rem;
	width: 58%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-59{
	padding: .70rem;
	width: 59%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-60{
	padding: .70rem;
	width: 60%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-61{
	padding: .70rem;
	width: 61%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-62{
	padding: .70rem;
	width: 62%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-63{
	padding: .70rem;
	width: 5%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-64{
	padding: .70rem;
	width: 64%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-65{
	padding: .70rem;
	width: 65%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-66{
	padding: .70rem;
	width: 66%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-67{
	padding: .70rem;
	width: 67%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-68{
	padding: .70rem;
	width: 68%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-69{
	padding: .70rem;
	width: 69%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-70{
	padding: .70rem;
	width: 70%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-71{
	padding: .70rem;
	width: 71%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-72{
	padding: .70rem;
	width: 72%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-73{
	padding: .70rem;
	width: 73%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-74{
	padding: .70rem;
	width: 74%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-75{
	padding: .70rem;
	width: 75%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-76{
	padding: .70rem;
	width: 76%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-77{
	padding: .70rem;
	width: 77%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-79{
	padding: .70rem;
	width: 79%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-80{
	padding: .70rem;
	width: 80%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-81{
	padding: .70rem;
	width: 81%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-82{
	padding: .70rem;
	width: 82%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-83{
	padding: .70rem;
	width: 83%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-84{
	padding: .70rem;
	width: 84%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-85{
	padding: .70rem;
	width: 85%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-86{
	padding: .70rem;
	width: 66%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-87{
	padding: .70rem;
	width: 87%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-88{
	padding: .70rem;
	width: 66%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-89{
	padding: .70rem;
	width: 89%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-90{
	padding: .70rem;
	width: 90%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-91{
	padding: .70rem;
	width: 91%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-92{
	padding: .70rem;
	width: 92%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-93{
	padding: .70rem;
	width: 93%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-94{
	padding: .70rem;
	width: 94%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-95{
	padding: .70rem;
	width: 95%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-96{
	padding: .70rem;
	width: 96%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-97{
	padding: .70rem;
	width: 97%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-98{
	padding: .70rem;
	width: 98%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-99{
	padding: .70rem;
	width: 99%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.linear-color-100{
	padding: .70rem;
	width: 100%;
	border-radius: .70rem;
	background-color: darkseagreen;
}
.munber-progress-linear{
	display: table;
	margin: 1.5rem auto;
	font-size: 20px;

}
.box-input{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.box-input input{
	padding: 1rem;
	width: 300px;
	border-radius: 7px;
	border: none;
	box-shadow: 0 1px 3px rgb(0,0,0,.15);
}
.error-massege{
	margin: 1rem auto;
	display: none;
}
.error-massege.active{
	display: block;
}
.input-timer .btn{
	cursor: pointer;
	text-align: center;
	margin: 30px auto;
	padding: 1rem;
	width: 300px;
	border-radius: 7px;
	color: #fff;
	background-color: aquamarine;
	box-shadow: 0 2px 1px rgb(0,0,0,.15);
}
.input-timer .btn:hover{
	background-color: darkcyan;
	box-shadow: none;
}
.message-timer{
	display: none;
}